[submodule "projects/excel_convert"]
	path = projects/excel_convert
	url = https://github.com/jmossesgeld/excel_convert
[submodule "projects/image_watermarking"]
	path = projects/image_watermarking
	url = https://github.com/jmossesgeld/image_watermarking
