{% include 'header.html' %}
<body>
    <br>
    <div class="container-fluid">
        <h1 class="text-center">SLSP-Purchases Excel Converter</h1><hr>
        <div class="row text-center">
            <form method=POST enctype=multipart/form-data action="{{ url_for('home') }}">
                <input type=file name=file>
                <input type=submit>
            </form>
            <br>
            <br>
            <a href="{{ url_for('purchase_template')}}">Get Template</a>
        </div>
    </div>
</body>
{% include 'footer.html' %}